@font-face {
    font-family: "Chakra Petch";
    src: url(ChakraPetch-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    background-color: #413982;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    background-image: url(banner.png);
    background-position: 165% 40%;
}

header {
    height: 165px;
}

header button {
    display: none;
}

header img {
    width: 400px;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 18px;
    font-family: "Chakra Petch";
    color: white;
}